/* *{
    border: 1px dashed red;
}*/
html{
    background-color: #1c5e25;
    width: 1280px;
    margin: 0 auto;
}
body{
    width: 1280px; /*Ancho de la pagina web, la altura es automatica*/
    height: auto;
    margin: 0 auto;
    background-color: #ecffec;
    font-family: 'Poppins';
}
/***************************************************************************************************/
/* Estilos de menú */
nav {
    width: 1280px; /*Ancho del menu*/
    height: 80px; /*Altura del menu*/
    background-color: rgb(0, 48, 10);
}
nav ul {
    list-style: none;
    float: right;
}
nav li {
    width: 80px;
    padding: 10px;
    margin-right: 40px;
    background-color: rgb(80, 203, 78);
    float: left;
    text-align: center;
    border-radius: 10px;
    /*80px (ancho del li) + 20px (padding) = 100px totales*/
}
nav a , a:visited{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
/***************************************************************************************************/
/* Encabezado */
header {
    padding: 100px ; /* Altura del encabezado*/
    height: 50px;
    background-image: url('img/estanterias.jpg');
    background-size: cover;
    background-position: center;
    /*El ancho del header es el del body, 1280px*/
    /*La altura del header = 250px (200px padding + 50px height)*/
}
header h1 {
    width: 900px; /*Anchura del h1, que esta dentro del header*/
    margin-top: 0px;
    margin-left: 190px;
    color: #0c3912;
}
/***************************************************************************************************/
/* Contenedores de información */
span{
    font-weight: bold;
    color: green;
}
h1{
    margin-left: 90px;
}
hr{
    width: 640px;
    margin-left: 90px;
    border: 4px solid rgb(2, 142, 14);
    /*La altura del hr = 5px (1px, por defecto + 4 px del border)*/
    /*Ancho = 648px (640px del width + 8px del border)*/
}
/* Parrafos, que contiene informacion sobre la pagina Web */
p{
    width: 850px; /*Anchura total de los parrafos*/
    height: auto;
    margin-left: 90px;
    font-size: 20px;
}
/***************************************************************************************************/
/* Frase para concienciarnos, junto a su imagen */
#conciencia{
    width: 1100px;
    height: auto;
    margin-left: 90px;
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    font-family: 'Times New Roman';
    /*Ancho total del contenedor = 1100px*/
}
#imagen-intro {
    width: 500px;
    height: 200px;
    margin-left: 390px;
}
/***************************************************************************************************/
/*Estilos para la tabla*/
table {
    width: 750px;
    height: 150px;
    margin: 20px;
    margin-left: 245px;
    border-collapse: collapse;
    /*Tamaño del cuerpo de la tabla; ancho=748px (750-2px(border))*/
    /*Alto=148px (150-2px(borde))*/
}

th, td {
    padding-left: 10px;
    border: 2px solid #007208;
    text-align: left;
}

th {
    background-color: #a3e9b9;
}

tr{
    background-color: #f1fcf0;
}
/***************************************************************************************************/
/*Estilos del Formulario*/
form {
    width: 730px;
    height: 360px;
    margin-left: 245px;
    margin-bottom: 40px;
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 2px solid rgb(80, 203, 78);
    /*Ancho total del formulario = 774px (730 + 20*2(padding) +2*2(border)*/
    /*Altura total del formulario = 404px (360 + 20*2(padding) +2*2(border)*/
}
input[type="text"]{
    width: 200px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 2px;
    border: 1px solid black;
    /*Ancho total = 222px (20 padding + 2 border*/
}
input[type="submit"]{
    width: 70px;
    height: 20px;
    margin-left: 650px;
}
textarea{
    width: 350px;
    height: 40px;
    max-width: 710px;
    max-height: 50px;
    border: 1px solid black;
}
/***************************************************************************************************/
/*Estilos del footer*/
footer{
    width: 1240px;
    height: 40px;
    padding: 20px;
    background-color: rgb(0, 48, 10);
    color: white;
    /*Ancho del footer = 1280px (1240px + 40px del padding*/
    /*Altura del footer = 80px (40px + 40px del padding)*/
}

/*************** PAGINA NOTICIAS ********************/
#noticias{
    margin: 50px;
}
#noticias div{
    padding: 50px;
    border-radius: 15px;
}
#noticias div:hover{
    background-color: #beffb6;
    border: solid 1px black;
}
#noticias a{
    text-decoration: none;
    color: rgb(9, 155, 9);
}
#noticias a:visited{
    text-decoration: none;
    color: rgb(6, 80, 6);
}